body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: red;
}

/*
.parent-selector{
    display: flex;
    text-align: center;
    vertical-align: middle;
}
*/

/*
.parent-selector{
    display: flex;
    justify-content: full;
    vertical-align: 50%;
}
*/

/*
.parent-selector{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/


.parent-selector{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}
