/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */

@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* { 
    margin: 0; 
    box-sizing: border-box;
} 

/* --------------- HIDE ------------------------*/

.hide{
    display: none;
}

/* --------------- ALIGNMENT ------------------------*/

.gridAlign{
    align-content: center;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.gridAlignNav{
    align-content: center;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}

/* --------------- CONTAINERS --------------------------*/

.case{
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 6px;
    padding: 20px;
    background-color: rgb(25,25,25);
    color: #fff;
    cursor: pointer;
}

.case .h3{
    border-bottom: 1px solid #fff;
}

/* --------------- BODY --------------------------*/

body { 
    display: grid;
    padding-top: 40px; /* compensates for fixed header/nav bar */
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Open Sans', sans-serif;
    color: #000 ;
    margin-left: auto;
    margin-right: auto;
}

.bodytxt{ 
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}

li {
    padding-left: 20%;
}

article{
    float: left;
    padding: 10px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    object-position: right;
    object-fit: cover;
}

.main{
    padding-top: 0px;
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: 1fr 0fr;
    grid-gap: 0px;
    z-index: 0;
}

.endSpace{
    display:grid;
    position: relative;
    border: 1px solid transparent;
    padding-bottom: 20px;
}

aside { 
    float: right;
    right: 0;
    width: 410px;
    padding-left: 10px;
    z-index: -5;
    padding-right: 5px;
}

.story { 
    float: left;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.8);  
    padding: 20px;
    border-color: rgba(0,0,0,0);
}

.storyAlt { 
    float: left;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.8); /* white (#FFFFFF) with opacity/alpha level (a) at the end */
    padding: 20px;
    border-color: rgba(0,0,0,0);
}

.center{
    text-align: center;
}

section { 
    border-bottom-color: rgba(0,0,0,0);
    z-index: -12;
    width: 100%;
    margin: auto;
}

details { 
    display: grid;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding-top: 20px;
}

h2{
    padding-top: 7px;
}

.underline{
    border-bottom: 2px solid #fff;
    margin-bottom: 5px;
}

.button{
    padding: 10px;
    background-color: rgb(0,0,0);
    text-decoration: none;
    color: rgb(255,255,255);
    padding-left: 20%;
    padding-right: 20%;
    cursor: pointer;
}

.contact-info{
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}
/* --------------- TABLES & Forms -----------------------*/

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding-left: 5rem;
    padding-right: 5rem;

}

th, tfoot{ 
    border-bottom: 3px solid black;
    font-family: 'Rajdhani', sans-serif; 
    color: rgb(0,0,0); 
}

th{
    font-size: 26px;
    text-align: center;
}

/*
tbody tr {
    background-color: rgba(210,210,210,0.7);
}

tr:nth-child(even) {
    background-color: rgba(255,255,255,0.1);
}
*/

.lastValue {
    border-bottom: 1px solid black;
}

.rightValue{
    border-left: 1px solid black;
}

/* --------------- VIDEO ------------------------*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    margin-top: 20px;
	padding-top: 25px;
    margin-bottom: -10.25%;
/*    "https://www.youtube.com/embed/43TrRgzzlf8"*/
	height: 0;
}

.videoWrapper iframe, .videoWrapper video {
	position: absolute;
    margin-left: 10%;
    margin-right: 10%;
	top: 0;
	left: 0;
	width: 80%;
	height: 80%;
}


.box{
    display: none;
}

/* --------------- IMAGES ------------------------*/

figure {
    background-color: rgba(255, 255, 255, 0.3); /* white */
}

.rightImg{
    float: right;
    width: 100%;
    height: auto;
}

.image{
    width:40%;
    height: auto;
}

/* --------------- END --------------------------*/
